/* common */

body {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  width: auto;
  margin: 0 auto;
  color: black;

  background-image: url(../img/back_ground_sample.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

 
}

h1{
  letter-spacing: 3px;
}

p{
  letter-spacing: 1.5px;

}

/* header */

header button{
  position: fixed;
  top: 10px;
  left: 10px;
  line-height: 0.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;

  border: none;
  color: white;
  background: none;
  font-size: 120px;

}


/* main */
main{
  text-align: center;
}

/* top */
.top [src *= "back"] {
  width: 100%;
}

.top {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.top [src*="icon1"] {
  width: 100px;
  margin-bottom: 18px;
}

.top [src*="icon2"] {
  width: 100px;
  margin-bottom: 18px;
}

.top h1 {
  font-size: 48px;
  font-weight: 1;
}

.top p {
  font-size: 18px;
  font-weight: 1;
}


/* contents */
.contents{
  margin-top: 160px;
}

.contents_fin {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents_fin [src*="icon1"] {
  width: 100px;
  margin-bottom: 18px;
}

.contents_fin [src*="icon2"] {
  width: 100px;
  margin-bottom: 18px;
}

/* footer */
footer{
  margin-top: 60px;
  text-align: center;
}

.other{
  display: flex;
  justify-content: center;
  align-items: center;
}

.other h2{
  font-weight: normal;
  font-size: 20px;
}

.other a {
  margin-left: 12px;
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.other a:hover{
  color: lightgray;
  transition: 0.1s;
}

.attention {
  margin: 64px 0 32px;
  font-size: 8px;
  color: lightgray;
  line-height: 1.5;
}